body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

footer {
    width: 60px
    margin: 5px auto;
}

nav {
    padding: 3px 0px;
    font-weight: 800;
    text-align: center;
    background-color: #E15B5F;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    font-size: 18px;
    padding: 0px 10px;
}

.container {
    width: 600px;
    margin: 40px auto;
    color: #342A2A;
}

.contacts {
    background-color: #E15B5F;
    padding: 10px 50px;
}

.call-to-action {
    padding: 5px 50px;
    text-align: left;
}

.logo {
    text-align: center;
    font-size: 32px;
}

.logo .slashes {
    color: #E15B5F;
}
