
/* fonts */
$page-font: 'Open Sans', sans-serif;
$cta-font:  'Roboto', sans-serif;
$glitch-font: 'Oswald', sans-serif;

/* browser prefixes */
@mixin animation($animations) {
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -ms-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	-o-transform: $transforms;
	transform: $transforms;
}

/* size */
$page-width: 800px;

/* colors */
$primary-bg-color: #F75D59;
$primary-page-bg-color: #F3F3F3;

$acent-color: #e15b5f;
$main-text-color: #342A2A;
$light-grey: #efefef;
$silver: #BDC3C7;
$midnight-blue: #2C3E50;

body {
    margin: 0px;
    padding: 0px;
    text-align: left;
    line-height: 1.4;
    min-height: 100%;
    background: url('../assets/img/bg.jpg') no-repeat center center fixed;
    @include background-size(cover);
}

a { text-decoration: none; color: $main-text-color; }

footer {
    width: 150px;
    margin: 5px auto 24px;

    a {
        padding: 6px;
        font-weight: 600;
        background-color: white;

        @include border-radius(3px);
    }

    .inline-element { margin: 0; display: inline; }
}

nav {
    width: 100%;
    padding: 3px 0px;
    text-align: center;
    font-weight: 600;
    background-color: $primary-bg-color;

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            font-size: 18px;
            padding: 0 10px;
        }
    }
}

.container {
    max-width: $page-width;
    min-width: 320px;
    text-align: left;
    margin: 40px auto;
    color: $main-text-color;
    font-family: $page-font;
    background-color: white;
}

section { background-color: $light-grey; }

#equipment {
    .info {
        margin: 10px auto;
        width: 100%;
        max-width: 460px;
        border: 1px solid $silver;
        border-collapse: collapse;
        text-align: left;

        td { padding: 3px 20px; border: 1px solid $silver; }
    }
}

.logo {
    background-color: $primary-bg-color;
    padding-top: 40px;
}

.call-to-action {
    background-color: $primary-bg-color;
    font-family: $cta-font;
    padding: 20px 50px 50px 40px;
}

.logo-wrapper {
    margin: 0 auto;
    padding: 3px 2px;
    text-align: center;
    width: 90%;
    max-width: 440px;
    background-color: white;

    @include border-radius(2px);

    @include transform(skewX(-20deg));

    .text { font-size: 32px; }
    .slashes { color: $acent-color; font-size: 48px; font-weight: 800; }
}

.terra { padding-top: 54px; width: 100%; }

.tool {
    padding: 20px 50px 50px 40px;

    ul { text-align: left; }

    .info {
        margin: 10px auto;
        width: 100%;
        max-width: 460px;
        border: 1px solid $silver;
        border-collapse: collapse;
        text-align: left;

        td { padding: 3px 20px; border: 1px solid $silver; }
    }

    .read-more {
        padding-top: 12px;
        text-align: center;
        text-decoration: none;
        font-weight: 800;

        &:hover {
            animation-duration: 1s;
            animation-name: underline_text;
        }
    }
}

.contacts {
    background-color: $primary-bg-color;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 { text-align: center; padding-top: 20px; }

    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }

    .profile-img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;

        @include border-radius(50% 50%);
        @include box-shadow(1px 1px 1px 1px $midnight-blue);
    }

    .phone:hover, .mail:hover { a { color: white; } }

    .info {
        width: 90%;
        display: block;
        line-height: 1.1;
        padding: 20px 20px 50px 20px;

        .requisite { margin: 0; padding: 0; line-height: 1; }
    }

    .first { text-align: center; }
    .info:last-child { padding: 70px 20px 30px 20px; text-align: center; }
}

.link-center {
    text-align: center;

    .bold { font-weight: 600; }
}

.separator { display: none; }

.drill-info { padding: 40px 50px; }

.certificates, .videos {
    text-align: center;
    padding-bottom: 30px;

    h2 { padding-top: 40px; }
}

.videos { iframe { width: 100%; } }

.certificates { a { padding: 0; img { width: 100%; } } }

@media all and (min-width: 800px) {
    .contacts {
        position: relative;

        .left { width: 53%; float: left; }
        .right { width: 34%; float: right; }
        .separator {
            display: inline-block;
            position: absolute;
            left: 59%;
            top: 40%;
            bottom: 13%;
            border-left: 2px solid $light-grey;
        }
        .first { padding: 20px 10px 20px 40px; text-align: left; }
        .info:last-child { padding: 70px 40px 20px 10px; width: 34%; }
    }
}

@media all and (min-width: 400px){
    .certificates {
        a {
            padding: 20px 5px;

            img { width: 380px; }
        }
    }
}

@media all and (max-width: 799px) and (min-width: 421px) {
    .tool {
        padding: 20px 20px 50px 20px;

        table { max-width: 400px; }
    }
}

@media all and (max-width: 420px) and (min-width: 361px) {
    .logo-wrapper { margin: 0 auto; width: 300px; }
    .tool { table { max-width: 350px; } }

    .contacts { .info { width: auto; } }
}

@media all and (max-width: 360px) and (min-width: 321px) {
    .info { display: block; }
    .tool { table { max-width: 330px; } }

    .contacts { .info { width: auto; } }
}

@media all and (max-width: 320px) {
    .tool { table { max-width: 310px; } }

    .contacts { .info { width: auto; } }
}

/* 404 style */
.wrapper {
  width: 650px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -325px;
  overflow: hidden;
  text-align: center;

    .fundal {
        h1 {
            font-family: "Oswald";
            text-align: center;
            font-size: 100px;
            width: 100%;
            position: absolute;
            overflow: hidden;
            margin-left: -15px;
            color: transparent;
            text-shadow: 0px 0px 3px #eee, 5px 5px 2px teal, -5px -2px 2px mix(black,red,50);
            font-weight: 400;
            @include transform(skewX(0deg));
            @include animation(shift 4s ease-in-out infinite alternate);
        }
    }
}

@keyframes underline_text {
    from { text-decoration: none; }
    to { text-decoration: underline; }
}

@include keyframes (shift) {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
        @include transform(skewX(0deg))
    }
    41% { @include transform(skewX(10deg));                }
    42% { @include transform(skewX(-10deg));               }
    59% { @include transform(skewX(40deg) skewY(10deg));   }
    60% { @include transform(skewX(-40deg) skewY(-10deg)); }
    63% { @include transform(skewX(10deg) skewY(-5deg));   }
    70% { @include transform(skewX(-50deg) skewY(-20deg)); }
    71% { @include transform(skewX(10deg) skewY(-10deg));  }
}
