
<div class="section contacts">
    <h1>Kontakti</h1>
    <div class="info">
        <h3>Rekvizīti</h3>
        <div class="requisite">
            <p>SIA "Caurdure"</p>
            <p>Juridiskā adrese: Maskavas iela 273/3-52, Rīga, LV - 1036, Latvija</p>
            <p>PVN LV 40103536458</p>
            <p>Reģ. Nr.: 40103536458</p>
            <p>Konts: LV53RIKO0002013254424</p>
            <p>Banka: A/S DNB banka</p>
            <p>Kods: RIKOLV2X</p>
        </div>
    </div>
    <div class="info">
        <img class="profile-img" src="./assets/vilnis.jpg" alt="Vilnis Talapins" />
        <div class="name">Vilnis Talapins</div>
        <div class="phone">
            <a href="tel:+37125459111">Tel.: +371 25459111</a>
        </div>
        <div class="mail">
            <a href="mailto:caurdure@gmail.com">E - pasts: caurdure@gmail.com</a>
        </div>
    </div>
</div>
