<article id="equipment">
    <section class="drill-info">
        <div class="description">
            TERRA MINI-JET MJLV 1400 ir cauruļu ievilkšanas iekārta, kura tika izveidota,
            lai būtu piemērotu Šveices kalnainajiem reģioniem, kuri izvira sekojošus ierobežojumus:
            <ul>
                <li>ierobežota vieta iekārtas izvietošanai,</li>
                <li>apgrūtināti ievilkšanas apstākļi,</li>
                <li>nelīdzena virsma.</li>
            </ul>
        </div>

        <table class="info">
            <tr>
                <td>Nostāšanās garums</td>
                <td>4 m</td>
            </tr>
            <tr>
                <td>Maksimālais urbuma garums</td>
                <td>120 m</td>
            </tr>
            <tr>
                <td>Urbja garums</td>
                <td>1.5 m</td>
            </tr>
            <tr>
                <td>Maksimālais caurules diametrs</td>
                <td>&#8960; 300 mm</td>
            </tr>
            <tr>
                <td>Minimālais caurules diametrs</td>
                <td>&#8960; 25 mm</td>
            </tr>
            <tr>
                <td>Urbja dimensijas (GxPxA)</td>
                <td>2.30 x 0.60 x 1.14 m</td>
            </tr>
        </table>
    </section>

    <ng-include src="'./partials/certificate.html'"></ng-include>

    <ng-include src="'./partials/videos.html'"></ng-include>

</article>
