<h1>Pit launched machine MINI-JET LV 1400</h1>

The MINI-JET MJLV 1400 is a pit launched machine with 6 tonnes (13'200 lbs) of pullback and thrust force and 1’400 Nm (1032 ft.lbs) of torque. With this machine all the advantages of pit launched machines are united in one machine. It was developed especially for the Swiss mountain regions, where you do not have a lot of space, no flat fields and difficult underground conditions. TERRA has patented a special double cylinder drive, where two cylinders move the driving saddle for- and backwards with no loss of power. This is unique worldwide. With the MINI-JET LV you can drill 120 m and backream up to Ø 260 mm (10”).
The MINI-JET LV is the long version of the smaller MINI-JET. The special drill rods are 1.5 m (100 ft) long and have a bending radius of 25 m (75 ft).

The MINI-JET LV can be adapted with rock drilling tools for hard ground conditions.

The Swiss Engineers have once more proven their strength in high-quality engineering.
 Pit launched machine MINI-JET LV 1400
Pit launched machine MINI-JET LV 1400

<h2>Option: rubber crawler</h2>

With the optional rubber crawler your MINI-JETLV can be used like a small HDD drill rig. The rubber crawler has its own petrol engine HONDA GX 390 (10 kW, 13 PS). With the standing plate form for the driver the HDD drill rig is stabilised. With the integrated cylinder the entry angle can easily be adjusted.
dimensions L x W x H (MJLV 1400 with rubber crawler): 3.60 x 0.86 x 1.75 m / 11.9 x 2.85 x 5.8 ft
weight (MJLV 1400 with rubber crawler): 1’000 kg (2’200 lbs)
 Option: rubber crawler
Option: rubber crawler
Mixing and pumping system

<h2>2 HONDA petrol engines with total 10 kW (13.5 HP), with manual rope starter</h2>
HONDA petrol engine no.1 drives the mixing pump (4 kW/5.5 HP)
HONDA petrol engine no. 2 drives the FMC drilling fluid pump (6 kW/8 HP)
With separate 1‘100 ltr (290 gal) tank
For Bentonite or Ejactomer
The mixing pump may pump water from rivers, lakes, to fill the tank.
With injector (venturi jet)
Bentonite or Ejactomer is pumped with the suction hose or filled into the funnel
Maximum drilling fluid volume: 34 l/min (9 gpm) (Optional 45 l/min (12 gpm)
Max. drilling pressure: 55 bar (800 psi)
 Mixing and pumping system
Mixing and pumping system
Vanguard Power Pack

<h2>VANGUARD petrol engine with 18 HP (13.5 kW)</h2>
with electric start
engine control management which switches the engine off in case of low engine oil
hand-held 20 ltr (5 gal) petrol tank
reliable oil cooler with large cooling capacity
even tropical or desert operation possible
The VANGUARD Power Pack MJ 1400 is designed clearly. Each component can be easily reached. Service and maintenance are easy.
The VANGUARD Power Pack MJ 1400 can be manoeuvred easily manually. The central lifting eye allows fast lifting.
The displacement pump produces 40 ltr/min (11 gpm) hydraulic oil at a maximum pressure of 175 bar (2’540 psi).
