
<ng-include src="'./partials/logo.html'"></ng-include>

<section class="call-to-action">
    <p>SIA "Caurdure" veic pazemes komunikāciju horizontālo urbšanu.</p>
    <p>Ievilksim ūdens, gāzes, elektroapgādes vai citas caurules zem zemes,
        līdz ar to Jūsu bruģakmeņa klājums un iekoptais dārzs būs neskarts!</p>
    <p>Cauruli ievilks no viena punkta uz otru, kā Jums ir nepieciešams.
        Piemēram, ir iespējams cauruli ievilkt no ielas daļas uzreiz jūsu mājas pagrabā.
        Iekārta ir neliela, līdz ar to darbus var veikt ierobežota izmēra teritorijās.</p>
    <p>Mēs esam sākuši darboties šajā jomā kopš 2012. gadā, un par šo laiku ir ieguldītas
        caurules vairāk, kā <strong>9854 metru</strong> garumā.</p>
    <p>Mēs darbojamies visā Latvijā!</p>
</section>

<ng-include src="'./partials/why-us.html'"></ng-include>

<section class="img">
    <img class="terra" src="./assets/MJLV_1400.jpg" alt="Terra Mini-Jet MJ 1400" />
</section>

<section class="tool">
    <div class="description">
        TERRA MINI-JET MJLV 1400 ir cauruļu ievilkšanas iekārta, kura tika izveidota,
        lai būtu piemērotu Šveices kalnainajiem reģioniem, kuri izvira sekojošus ierobežojumus:
        <ul>
            <li>ierobežota vieta iekārtas izvietošanai,</li>
            <li>apgrūtināti ievilkšanas apstākļi,</li>
            <li>nelīdzena virsma.</li>
        </ul>
    </div>

    <table class="info">
        <tr>
            <td>Nostāšanās garums</td>
            <td>4 m</td>
        </tr>
        <tr>
            <td>Maksimālais urbuma garums</td>
            <td>120 m</td>
        </tr>
        <tr>
            <td>Maksimālais caurules diametrs</td>
            <td>&#8960; 300 mm</td>
        </tr>
        <tr>
            <td>Minimālais caurules diametrs</td>
            <td>&#8960; 25 mm</td>
        </tr>
    </table>

    <div class="read-more">
        <a href="#/equipment">Lasīt vairkāk...</a>
    </div>
</section>

<ng-include src="'./partials/requisites.html'"></ng-include>
