<section class="why-us">
    <header>
        Kāpēc izvēlēties SIA "Caurdure" pakalpojumus?
    </header>
    <div class="row">
        <div class="reason">
            <img class="icon" src="./assets/icons/clock.svg" alt="Pulkstenis">
            <div class="txt">
                elastīgs darba grafiks
            </div>
        </div>
        <div class="reason">
            <img class="icon" src="./assets/icons/man-sprinting.svg" alt="Ātri un lēti">
            <div class="txt">
                ātri un lēti
            </div>
        </div>
    </div>
    <div class="row">
        <div class="reason">
            <img class="icon" src="./assets/icons/drain.svg" alt="Beztranšejas urbšana">
            <div class="txt">
                urbšana izmantojot beztranšeju metodi
            </div>
        </div>
        <div class="reason">
            <img class="icon" src="./assets/icons/diagonal.svg" alt="Ierobežota vieta">
            <div class="txt">
                vietās ar ierobežotu nostāšanās garumu
            </div>
        </div>
    </div>
    <div class="row">
        <div class="reason">
            <img class="icon" src="./assets/icons/team-work.svg" alt="Sadarbības partneri">
            <div class="txt">
                iespēja piesaistīt sadarbības partnerus
            </div>
        </div>
        <div class="reason">
            <img class="icon" src="./assets/icons/diameter.svg" alt="Caurules diametrs">
            <div class="txt">
                caurules diametrs 25 - 300 mm
            </div>
        </div>
    </div>
</section>
